<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/assets/css/reset.css">
  <link rel="stylesheet" href="/assets/css/style.css">
  {%- if stylesheets -%}
    {%- for stylesheet in stylesheets -%}
      <link rel="stylesheet" href="{{ stylesheet }}">
    {%- endfor -%}
  {%- endif -%}
</head>
<body>
  <header>
    <nav>
      <ul>
      {%- for entry in collections.all | eleventyNavigation %}
        <li><a href="{{ entry.url }}"{% if entry.url == page.url %} aria-current="page"{% endif %}>{{ entry.title }}</a></li>
      {%- endfor %}
      </ul>
    </nav>
    <a class="home-link" href="/">Alexandra Dolce Psychotherapy</a>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <footer>
    <p>Registered associate marriage and family therapist #139962 &nbsp;•&nbsp; Supervised by Shana Burns LMFT #MFC53207</p>
    <p><a href="/notice-of-privacy-practices">Notice of privacy practices</a> &nbsp;•&nbsp; <a href="/good-faith-estimate">Good faith estimate</a></p>
  </footer>
</body>