section {
    background-color: var(--light-yellow-color);
    color: var(--dark-gray-color);
    container-type: inline-size;
    padding: var(--section-y-padding) var(--section-x-padding);
  
    p {
      margin-top: 16px;
    }
  
    .content {
      display: flex;
      margin: 0 auto;
      max-width: 720px;
    }
  
    @container (min-width: 720px) {
      img {
        aspect-ratio: 2 / 3;
        object-fit: cover;
      }

      .content {
        gap: 32px;
      }
  
      .left {
        flex: 3;
      }
  
      .right {
        padding-top: 24px;
        flex: 4;
      }
    }
  
    @container (max-width: 719px) {
      img {
        aspect-ratio: 2 / 1;
        object-fit: cover;
      }

      .content {
        flex-direction: column;
        gap: 32px;
      }
  
      .left {
        margin: 0 auto;
        max-width: 320px;
      }
  
      .right {
        margin: 0 auto;
        max-width: 420px;
      }
    }
  }