section {
  background-color: var(--light-yellow-color);
  color: var(--dark-gray-color);
  container-type: inline-size;
  padding: var(--section-y-padding) var(--section-x-padding);

  p {
    margin-top: 16px;
  }

  .content {
    display: flex;
    margin: 0 auto;
    max-width: 600px;
  }


  img {
    clip-path: polygon(20% 0%, 80% 0%, 100% 0%, 100% 80%, 80% 100%, 0% 100%, 0% 86%, 0% 20%);
    overflow: hidden;
  }

  @container (min-width: 720px) {
    .content {
      gap: 32px;
    }

    .left {
      flex: 4;
    }

    .right {
      flex: 3;
    }
  }

  @container (max-width: 719px) {
    .content {
      flex-direction: column-reverse;
      gap: 32px;
    }

    .left {
      margin: 0 auto;
      max-width: 420px;
    }

    .right {
      margin: 0 auto;
      max-width: 200px;
    }
  }
}