section {
  background-color: var(--light-yellow-color);
  color: var(--dark-gray-color);
  container-type: inline-size;
  padding: var(--section-y-padding) var(--section-x-padding);

  p {
    margin-top: 16px;
    text-align: center;
  }

  .content {
    display: flex;
    margin: 0 auto;
    max-width: 720px;
  }

  @container (min-width: 720px) {
    .content {
      gap: 32px;
    }

    .left {
      flex: 3;
    }

    .right {
      flex: 2;
    }
  }

  @container (max-width: 719px) {
    .content {
      flex-direction: column-reverse;
    }

    .left {
      margin: 0 auto;
      max-width: 420px;
    }

    .right {
      margin: 0 auto;
      max-width: 320px;
    }
  }
}